<?xml version="1.0"?>

<configuration>
  <appSettings>
    <!-- Directory for saving files into -->
    <add key="BaseDir" value="/ckeditor-4.3/plugins/doksoft_uploader/userfiles/" />
	
    <add key="FileMaxSize" value="0"/>
    <add key="ImageMaxSize" value="0"/>
    <add key="FileAllowedExtensions" value="*"/>
    <add key="ImageAllowedExtensions" value="*"/>
    <add key="JPEGQuality" value="95"/>
    <add key="MaxImgResizeWidth" value="2000"/>
    <add key="MaxImgResizeHeight" value="2000"/>
    <add key="MaxThumbResizeWidth" value="500"/>
    <add key="MaxThumbResizeHeight" value="500"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	<httpHandlers>
	  <!-- URL Path to be handled by the router -->
      <add  verb="*" path="/doksoft_uploader/uploader" type="DoksoftUploaderLibrary.UploaderHandler, DoksoftUploaderLibrary"/>
    </httpHandlers>
  </system.web>
  
  <system.webServer>
    <handlers>
	  <!-- URL Path to be handled by the router -->
      <add name="UploaderHandler" verb="*" path="/doksoft_uploader/uploader" type="DoksoftUploaderLibrary.UploaderHandler, DoksoftUploaderLibrary"/>
    </handlers>
  </system.webServer>
</configuration>
