header #main-img{
	height: 100vh;
	transform: scale(1.2);
}
header .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #000;
	opacity: 0.5;
}
header .featured-phrase{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 2;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	transform: translateY(-50%);
}
header .featured-phrase h2{
	font-size: 40px;
	color: #FFF;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 300;
}
section#about{
	height: 100vh;
	min-height: 500px;
}
section#about .wrap-img-sobre{
	height: 400px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
section#about .wrap-img-sobre.wrap-right{
	transform: translate(200px, 100px);
}
section#about .wrap-img-sobre.wrap-left{
	transform: translate(-200px, 100px);
}
section#about .wrap-img-sobre .line{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	border: solid 1px #FFF;
	z-index: 1;
	opacity: 0;
	transform: translateY(20px);
	transition: all .25s ease-in-out .1s;
}
section#about .wrap-img-sobre i{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 70%;
	color: #FFF;
	font-size: 20px;
	text-align: center;
	transform: translateY(30px);
	opacity: 0;
	transition: all .25s ease-in-out .2s;
}
section#about .wrap-img-sobre:hover .line{
	transform: translateY(0px);	
	opacity: 1;
}
section#about .wrap-img-sobre:hover i{
	transform: translateY(0px);	
	opacity: 1;
}
section#about .wrap-img-sobre:hover .titulo-sobre{
	transform: translateY(-70%);
}
section#about .wrap-img-sobre:hover .backstretch{
	transform: scale(1.05);
}
section#about .wrap-img-sobre .backstretch{
	transition: all .25s ease-in-out;
}
section#about .wrap-img-sobre .ovelay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}
section#about .titulo-sobre{
	left: 0;
	right: 0;
	top: 50%;
	margin: 0 auto;
	text-align: center;
	transform: translateY(-50%);
	transition: all .25s ease-in-out;
}
section#about .titulo-sobre h1{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 300;
	color: #FFFFFF;
	line-height: 1.2;
	letter-spacing: 5px;
}
section#judice{
	background-image: url(../../img/bg-expertises.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 700px;
	position: relative;
	padding: 50px 0;
}
section#judice .uk-container{
	position: relative;
	z-index: 2;
}
section#judice .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #222;
	opacity: 0.95;
}
section#judice h1{
	color: #FFF;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.radial-nav {
	width: 513px;
	height: 513px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
}
.circle-line {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    transform-origin: center;
	opacity: 0;
}
.circle-line.circle-2{
	transform: rotate(45deg);
}
.circle-line.circle-2 .item{
	transform: rotate(-45deg) scale(0.5);
}
.item {
	background: #FFF;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	transition: all .2s, transform .5s;
	transform-origin: center;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	cursor: pointer;
	border: solid 2px #FFF;
	opacity: 0;
	transform: scale(0.5);
	margin-left: -75px;
	margin-top: -75px;
	z-index: 9;
}
.item .flip-container{
	transform-style: preserve-3d;
	position: relative;
	transition: all 0.5s ease;
	height: 100%;
}	

.item.active .flip-container{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.item.clicked .face-item{
	background: #333;	
}
.item.active .face-item{
	background: #666;
}
.item .face-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: #999;
	backface-visibility: hidden;
}
.item .front-item{
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}
.item .back-item{
	z-index: 1;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.item i{
	color: #FFF;
    font-size: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    right: 0;
}
.item h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	padding: 0 15px;
	font-size: 18px;
	color: #FFF;
}
/*.item:nth-child(1) {
	left: 106px;
    top: -62px;
}
.item:nth-child(2) {
	left: -53px;
    top: 81px;
}
.item:nth-child(3) {
	top: 288px;
    left: -53px;
}
.item:nth-child(4) {
	top: 429px;
    left: 115px;
}
.item:nth-child(5) {
	top: 387px;
    left: 340px;
}
.item:nth-child(6) {
	top: 176px;
    left: 439px;
}
.item:nth-child(7) {
	top: -27px;
    left: 331px;
}*/
.item.item-ct{
	left: 50%;
	top: 0%;
}
.item.item-lc{
	left: 0%;
	top: 50%;
}
.item.item-cb{
	left: 50%;
	top: 100%;
}
.item.item-rc{
	left: 100%;
	top: 50%;
}
.explain{
	position: absolute;
    width: 60%;
    height: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    top: 30%;
    opacity: 0;
}
.explain h2{
	color: #FFF;
	line-height: 1.2;
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-30%);
	margin: 0;
	opacity: 0;
}
.explain h2.frase-inicial{
	opacity: 1;
	transform: translateY(-50%);
	font-size: 20px;
}
.explain h2.frase-inicial>b{
	font-weight: 400;
}

section#transicao{
	background-image: url(../../img/transicao-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
	position: relative;
}
section#transicao .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #000;
	opacity: 0.6;
}
section#transicao .content{
	z-index: 2;
}
section#transicao h2{
	color: #FFF;
	font-size: 40px;
	font-weight: 300;
	line-height: 1.2;
}
section#areas-de-atuacao{
	padding: 80px 0;
}
section#areas-de-atuacao h1{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	transform: translateY(-20px);
	opacity: 0;
}
section#areas-de-atuacao ul li{
	transform: translateY(50px);
	opacity: 0;
}
section#areas-de-atuacao h1:before{
	/*content: '';
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1px;
	height: 20px;
	background: #333;*/
}
section#areas-de-atuacao .wrap-area{
	text-align: center;
	height: 200px;
	padding: 30px;
	overflow: hidden;
}
section#areas-de-atuacao .link-more{
	opacity: 0;
}
.link-more{
	position: relative;
	font-size: 16px;
}
.link-more:before,
.link-more:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30px;
	height: 1px;
	background: #333;	
	transition: all .25s ease-in-out;
	opacity: 0;
}
.link-more:after{
	bottom: -10px;
	transform: translateY(10px);
}
.link-more:before{
	top: -10px;
	transform: translateY(-10px);
}
.link-more:hover{
	color: #333;
}
.link-more:hover:before,
.link-more:hover:after{
	transform: translateY(0px);	
	opacity: 1;
}
/*section#areas-de-atuacao .wrap-area .backstretch{
	transition: all .25s ease;
}*/
/*section#areas-de-atuacao .wrap-area:hover .backstretch{
	transform: scale(1.1) rotate(5deg);
}*/
section#areas-de-atuacao .wrap-area h2{
	font-size: 24px;
	color: #FFF;
	font-weight: 400;
}
section#areas-de-atuacao .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #333;
	opacity: 0.7;
}
section#areas-de-atuacao .area-content{
	position: relative;
	z-index: 2;
}
section#diferenciais{
	background: #333;
	padding: 80px 0;
}
section#diferenciais h1{
	color: #FFF;
	font-size: 48px;
	line-height: 1.2;
	text-transform: uppercase;
	position: relative;
	opacity: 0;
	transform: translateY(10px);
}
section#diferenciais h1>b,
section#areas-de-atuacao h1>b
{
	font-weight: 400;
}
section#diferenciais ul li{
	color: #FFF;
	padding-bottom: 20px;
	font-size: 12px;
	position: relative;
	font-family: FontAwesome;
	padding-left: 30px;
	transform: translateX(-20px);
	opacity: 0;
}
section#diferenciais ul li:before{
	content: "\f00c";
	position: absolute;
	left: 0;
	top: 0;
	color: #FFF;
}
section#diferenciais ul li span{
	color: #FFF;
	font-size: 18px;
	font-family: 'AmpleSoft';
}

