section#judice{
	background: #000;
	min-height: 700px;
}
.radial-nav {
	width: 513px;
	height: 513px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
.circle-line {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    border-radius: 50%;
    transform-origin: center;
	transform: rotate(18deg);
}
.item {
	background: #CCC;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px rgba(255,255,255,0.3);
	text-align: center;
	position: absolute;
	transition: all .2s, transform .5s;
	transform-origin: center;
	transform: rotate(-18deg);
}
.item.active {
	background: #FFF;
}
.item label {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	padding: 0 15px;
}
.item:nth-child(1) {
	left: 106px;
    top: -62px;
}
.item:nth-child(2) {
	left: -53px;
    top: 81px;
}
.item:nth-child(3) {
	top: 288px;
    left: -53px;
}
.item:nth-child(4) {
	top: 429px;
    left: 115px;
}
.item:nth-child(5) {
	top: 387px;
    left: 340px;
}
.item:nth-child(6) {
	top: 176px;
    left: 439px;
}
.item:nth-child(7) {
	top: -27px;
    left: 331px;
}
.explain{
	position: absolute;
    top: 50%;
    transform: translateY(-20%);
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.explain h3{
	color: #FFF;
	line-height: 1.4;
	font-size: 22px;
}
/*.item.inactive {
	width: 100px;
	height: 100px;
}*/
/*.item.inactive:nth-child(1) {
	top: -50px;
	left: calc(50% - 50px);
}
.item.inactive:nth-child(2) {
	top: calc(50% - 50px);
	left: -50px;
}
.item.inactive:nth-child(3) {
	bottom: -50px;
	left: calc(50% - 50px);
}
.item.inactive:nth-child(4) {
	top: calc(50% - 50px);
	right: -50px;
}*/


